In [1]:
import pandas as pd
import sqlalchemy as sal
import pyodbc

In [3]:
engine = sal.create_engine("mssql+pyodbc://DESKTOP-7GCR73H/master?trusted_connection=yes&driver=ODBC+Driver+17+for+SQL+Server")

In [5]:
try:
    with engine.connect() as conn:
        print("Connected to SQL Server successfully!")
except Exception as e:
    print("Error:", e)

Connected to SQL Server successfully!

In [63]:
student_df =  pd.read_csv('students.csv')
student_df = student_df.drop(columns = ['student_id'] , errors = 'ignore')
course_df =  pd.read_csv('courses.csv')
course_df = course_df.drop(columns = ['course_id'] , errors = 'ignore')

entrollment_df =  pd.read_csv('enrollments.csv')
entrollment_df = entrollment_df.drop(columns = ['enrollment_id'] , errors = 'ignore')



student_df.head()

,first_name,last_name,email,phone,date_of_birth
0,Shane,Schneider,deborahfowler@yahoo.com,2387252913,2000-01-17
1,David,Pittman,underwoodchristopher@walker-adkins.com,001-018-795-7985x2545,1995-05-10
2,Ricardo,Fry,newmanchloe@gmail.com,214.797.7345x50020,2004-10-26
3,Nicholas,Douglas,bryan29@gmail.com,330.913.2282x558,1996-01-06
4,Joshua,Hobbs,terry06@hotmail.com,001-433-035-4103x293,2006-04-24

In [43]:
student_df.to_sql('student' , con=engine , if_exists = 'append' , index=False)

200

In [47]:
course_df.to_sql('course' , con=engine , if_exists = 'append' , index=False)

200

In [61]:
missing_student = entrollment_df[~entrollment_df['student_id'].isin(student_df['student_id'])]
missing_student

KeyError: 'student_id'

In [57]:
entrollment_df.to_sql('entrollments' , con=engine , if_exists = 'append' , index=False)

IntegrityError: (pyodbc.IntegrityError) ('23000', '[23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The INSERT statement conflicted with the FOREIGN KEY constraint "FK__entrollme__stude__2C1E8537". The conflict occurred in database "master", table "dbo.student", column \'student_id\'. (547) (SQLExecDirectW); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621)')
[SQL: INSERT INTO entrollments (student_id, course_id, grade) VALUES (?, ?, ?), (?, ?, ?), (?, ?, ?), (?, ?, ?), (?, ?, ?), (?, ?, ?), (?, ?, ?), (?, ?, ?), (?, ?, ?), (?, ?, ?), (?, ?, ?), (?, ?, ?), (?, ?, ?), (?, ?, ?), (?, ?, ?), (?, ?, ?), (?, ?, ?),  ... 1911 characters truncated ... ), (?, ?, ?), (?, ?, ?), (?, ?, ?), (?, ?, ?), (?, ?, ?), (?, ?, ?), (?, ?, ?), (?, ?, ?), (?, ?, ?)]
[parameters: (194, 40, 'B', 182, 114, 'C', 8, 58, 'D', 187, 190, 'D', 47, 6, 'B', 83, 51, 'F', 73, 186, 'A', 184, 114, 'A', 136, 62, 'F', 99, 9, 'A', 40, 48, 'B', 67, 138, 'C', 15, 125, 'C', 120, 57, 'B', 47, 70, 'F', 161, 179, 'C', 115, 112 ... 500 parameters truncated ... 197, 'C', 24, 35, 'C', 166, 79, 'C', 43, 27, 'F', 185, 109, 'F', 147, 49, 'A', 168, 147, 'B', 76, 178, 'A', 116, 105, 'B', 13, 200, 'F', 2, 71, 'A', 102, 183, 'D', 69, 89, 'A', 196, 49, 'D', 38, 6, 'A', 155, 139, 'A', 161, 145, 'A')]
(Background on this error at: https://sqlalche.me/e/20/gkpj)